trigger:
- dev

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: react-dev-vars # Link to your variable group

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'

- script: |
    npm run build
  displayName: 'npm build'
  env:
    REACT_APP_API_URL: $(REACT_APP_API_URL)
    ENCRYPTION_KEY: $(ENCRYPTION_KEY)
    REACT_APP_DEBUG: $(REACT_APP_DEBUG)
    SKIP_PREFLIGHT_CHECK: $(SKIP_PREFLIGHT_CHECK)

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'build'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'