.navbar-brand {
  letter-spacing: 1px;
  font-weight: 400;
}

.navbar-nav .nav-link {
  margin-left: 12px;
  font-size: 0.95rem;
  font-weight: 400;
}

.header-bar {
  background-color: #8c9bb3 !important;
}
