.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  /* Sticky behavior when scrolling */
  .sticky-header {
    position: fixed; /* Makes the header fixed after scrolling */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .bg-dark-opacity {
    background-color: rgba(0, 0, 0, 0.2); /* Initial semi-transparent background */
  }
  
  .bg-dark {
    background-color: rgba(0, 0, 0, 1); /* Solid background when scrolled */
  }
